<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- randomimage -->
        <rule name="RandomimageBase" stopProcessing="true">
          <match url="^randomimage/?$" ignoreCase="true" />
          <action type="Rewrite" url="randomimage/index.php" appendQueryString="true" />
        </rule>
		<rule name="RandomimageLangPage" stopProcessing="true">
		  <match url="^randomimage/(..)/([^/]+)/?$" ignoreCase="true" />
		  <action type="Rewrite" url="randomimage/index.php?lang={R:1}&amp;page={R:2}" appendQueryString="true" />
		</rule>
		<rule name="RandomimageLang" stopProcessing="true">
		  <match url="^randomimage/(..)/?$" ignoreCase="true" />
		  <action type="Rewrite" url="randomimage/index.php?lang={R:1}" appendQueryString="true" />
		</rule>
		<rule name="RandomimagePage" stopProcessing="true">
		  <match url="^randomimage/([^/]+)/?$" ignoreCase="true" />
		  <action type="Rewrite" url="randomimage/index.php?page={R:1}" appendQueryString="true" />
		</rule>
		<rule name="RandomimageSub" stopProcessing="true">
		  <match url="^randomimage/(.*)$" ignoreCase="true" />
		  <action type="Rewrite" url="randomimage/{R:1}" appendQueryString="true" />
		</rule>

        <!-- augendiagnose -->
        <rule name="AugendiagnoseBase" stopProcessing="true">
          <match url="^augendiagnose/?$" ignoreCase="true" />
          <action type="Rewrite" url="augendiagnose/index.php" appendQueryString="true" />
        </rule>
		<rule name="AugendiagnoseLangPage" stopProcessing="true">
		  <match url="^augendiagnose/(..)/([^/]+)/?$" ignoreCase="true" />
		  <action type="Rewrite" url="augendiagnose/index.php?lang={R:1}&amp;page={R:2}" appendQueryString="true" />
		</rule>
		<rule name="AugendiagnoseLang" stopProcessing="true">
		  <match url="^augendiagnose/(..)/?$" ignoreCase="true" />
		  <action type="Rewrite" url="augendiagnose/index.php?lang={R:1}" appendQueryString="true" />
		</rule>
		<rule name="AugendiagnosePage" stopProcessing="true">
		  <match url="^augendiagnose/([^/]+)/?$" ignoreCase="true" />
		  <action type="Rewrite" url="augendiagnose/index.php?page={R:1}" appendQueryString="true" />
		</rule>
		<rule name="AugendiagnoseSub" stopProcessing="true">
		  <match url="^augendiagnose/(.*)$" ignoreCase="true" />
		  <action type="Rewrite" url="augendiagnose/{R:1}" appendQueryString="true" />
		</rule>

        <!-- miniris -->
        <rule name="MinirisBase" stopProcessing="true">
          <match url="^miniris/?$" ignoreCase="true" />
          <action type="Rewrite" url="augendiagnose/index.php?app=miniris" appendQueryString="true" />
        </rule>
		<rule name="MinirisLangPage" stopProcessing="true">
		  <match url="^miniris/(..)/([^/]+)/?$" ignoreCase="true" />
		  <action type="Rewrite" url="augendiagnose/index.php?app=miniris&amp;lang={R:1}&amp;page={R:2}" appendQueryString="true" />
		</rule>
		<rule name="MinirisLang" stopProcessing="true">
		  <match url="^miniris/(..)/?$" ignoreCase="true" />
		  <action type="Rewrite" url="augendiagnose/index.php?app=miniris&amp;lang={R:1}" appendQueryString="true" />
		</rule>
		<rule name="MinirisPage" stopProcessing="true">
		  <match url="^miniris/([^/]+)/?$" ignoreCase="true" />
		  <action type="Rewrite" url="augendiagnose/index.php?app=miniris&amp;page={R:1}" appendQueryString="true" />
		</rule>
		<rule name="MinirisSub" stopProcessing="true">
		  <match url="^miniris/(.*)$" ignoreCase="true" />
		  <action type="Rewrite" url="augendiagnose/{R:1}" appendQueryString="true" />
		</rule>

        <rule name="SitemapRoot" stopProcessing="true">
          <match url="sitemap.xml$" ignoreCase="true" />
          <action type="Rewrite" url="sitemap.php" appendQueryString="false" />
        </rule>

        <!-- Existing it-art catch-all must stay last -->
        <rule name="PageRoot" stopProcessing="true">
          <match url="^([^/\.]+)/?$" ignoreCase="false" />
          <action type="Rewrite" url="?page={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>