@import url(OpenSans.css);

@CHARSET "ISO-8859-1";

/* General settings */
body, p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #33537C;
	background-color: transparent;
}

body.ie8 {
	background-color: #F4D1D1;
}

body.mainpage.ie8 {
	background-color: #FBEDED;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
}

body#index {
	background-image: url("../img/amor_psyche_a.jpg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

table, table tr, table td {
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

ul {
	padding-left: 2em;
}

li {
	margin-bottom: 2px;
}

a {
	color: #33537C;
}

/* Settings for main page */
.startentry {
	text-align: center;
}

.centerbox {
	top: 5px;
	left: 5px;
	margin: 0px;
	padding: 0px;
}

#startseite p {
	margin-top: 0px;
	padding-top: 0px;
}

#startseite h1 {
	margin-bottom: 6px;
	padding-bottom: 0px;
}

.maintext {
	padding-top: 18px;
	padding-left: 18px;
	padding-right: 18px;
}

.maintext img {
	float: right;
	padding-left: 18px;
	padding-bottom: 18px;
	max-width: 50%;
}

.maintext p, #text ul {
	text-align: justify;
	padding-bottom: 12px;
	padding-top: 0px;
	margin-bottom: 8px;
	margin-top: 2px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.maintext p.subtitle {
	margin-top: -24px;
	padding-bottom: 24px;
}

.maintext p.supertitle {
	padding-bottom: 0px;
	margin-bottom: -18px;
	margin-top: 24px;
}

.maintext h1 {
	margin-bottom: 26px;
	padding-top: 0px;
	margin-top: 18px;
}

.maintext p.smallspace, #text ul.smallspace {
	padding-bottom: 3px;
}

.maintext ul {
	margin-top: 6px;
	margin-bottom: 6px;
}

.maintext hr {
	margin-top: 18px;
	margin-left: 36px;
	margin-right: 36px;
	margin-bottom: 24px;
}

.maintext p.footer {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.maintext hr.footer {
	clear: both;
	page-break-after: avoid;
}

.maintext p.footer.verse {
	white-space: pre-wrap;
}

.maintext p.footer.secondary {
	margin-top: 0px;
}

.maintext p.center {
	text-align: center;
}

#uebermich li {
	margin-bottom: 18px;
	text-align: left;
}

/* Settings for menu */
#menuleftbody {
	overflow: hidden;
}

#menuleft {
	position: absolute;
	top: 15px;
	left: 10%;
	overflow: hidden;
}

#menuleft.smallwidth {
	left: 5px;
}

#menuleft hr {
	height: 20px;
	margin: 0px;
	visibility: hidden;
}

#menuleft.smallheight hr {
	height: 4px;
}

#menuleft a {
	display: block;
	background-color: rgba(255, 255, 255, 0);
	margin-bottom: 5px;
	padding-left: 30px;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	height: 29px;
	width: 50px;
	color: #33537C;
	border-radius: 8px;
	margin-bottom: 8px;
}

#menuleft a.twoline {
	height: 54px;
	text-indent: -20px;
}

#menuleft.smallheight a {
	margin-bottom: 0px;
}

#menuleft a.smalltext {
	font-size: 15px;
	height: 25px;
}

#menuleft a.twoline.smalltext {
	height: 44px;
}

#menuleft a.chosen, #menuleft a.chosen.highlight {
	background: rgba(255, 255, 255, 0.5);
}

#menuleft.ie8 a.chosen, #menuleft.ie8 a.chosen.highlight {
	background-color: #FBEDED;
}

#menuleft a.highlight {
	background: rgba(255, 255, 255, 0.25);
}

#menuleft.ie8 a.highlight {
	background-color: #F8E0E1;
}

#menuleft a span {
	position: absolute;
	top: 2px;
	left: 12px;
}

#menuleft a.twoline span {
	position: absolute;
	top: 2px;
	left: 32px;
}

#menuleft.smallwidth a span {
	left: 5px;
}

#menuleft.smallwidth a.twoline span {
	left: 25px;
}

/* Settings for dropdown menu */
#menudropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menudropdown li {
	float: left;
	padding: 0;
	margin: 0;
}

#menudropdown li a {
	width: 300px;
	display: block;
	text-align: center;
	background-color: #8FB0DE;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	font-size: 16px;
	border: 1px solid #ccc;
	color: #000000;
}

#menudropdown img.icon {
	width: 24px;
	height: 24px;
}

/* Settings for bottom */
#bottom {
	background-image: url("../img/bottom.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#bottom.ie8 {
	background-repeat: repeat;
}

#bottom hr {
	color: #223653;
	background-color: #223653;
	border: 0;
	height: 3px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#bottom table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 100%;
}

#bottom tr.address {
	color: #FFFFFF;
}

#bottom div#address {
	text-align: justify;
}

#bottom div#address div {
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
}

#bottom.small div#address div {
	padding: 5px 5px 5px 5px;
}

#bottom.smaller div#address div {
	padding: 5px 0px 5px 0px;
}

#bottom div#address:after {
	content: '';
	width: 100%;
	display: inline-block;
}

#bottom a {
	color: #FFFFFF;
}

#bottom.small {
	font-size: 13px;
}

#bottom.smaller {
	font-size: 10px;
}

/* Settings for Impressum */
#impressum {
	background-color: #FFFFFF;
}

#impressumheader h2 {
	font-size: 24px;
	margin-top: 0px;
}

#impressumtable {
	text-align: left;
	border: 1px solid black;
}

#impressumtable td {
	font-size: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border: 1px solid black;
}

#impressumtable p, #impressumtable h4 {
	font-size: 10px;
	margin-top: 0pt;
}

#impressumtable p.entryend {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

a.closeImpressum {
	font-size: 16px;
	font-weight: bold;
	border: 1px solid black;
	background-color: #C0C0C0;
	padding: 2px;
}

#allcontent a.closeImpressum {
	visibility: hidden;
}

#allcontent hr.newpage {
	page-break-before: always;
}

#allcontent .maintext img {
	max-width: 70%;
}

#allcontent .maintext img.astroimg {
	max-width: 63%;
}

#allcontent .maintext img.spirimg {
	max-width: 78%;
}


/* Settings for allcontent page */
@page {
	margin: 15mm 10mm 20mm 10mm;
}

/* Settings for small media */
@media ( max-width : 800px) {
	h1 {
		font-size: 24px;
	}
	body, p {
		font-size: 14px;
	}
	#text p.footer {
		font-size: 12px;
	}
}