<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Index" enabled="true" stopProcessing="true">
                    <match url="^index.php" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Page" enabled="true" stopProcessing="true">
                    <match url="^(..)/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?lang={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Language" enabled="true" stopProcessing="true">
                    <match url="^(..)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?lang={R:1}" appendQueryString="false" />
                </rule>
                <rule name="PageOnly" enabled="true" stopProcessing="true">
                    <match url="^([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Sitemap" enabled="true" stopProcessing="true">
                    <match url="sitemap.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="sitemap.php" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
