@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@CHARSET "ISO-8859-1";

/* General settings */
body, p {
	font-family: 'Open Sans', sans-serif;
	color: #FDF2D7;
	background-color: transparent;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
}

body#index {
	background-color: #5F0000;
}

table, table tr, table td {
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

table.bordered {

}

table.bordered td {
	border-bottom: 1px solid #FDF2D7;
	border-top: 1px solid #FDF2D7;
	padding: 5px;
	vertical-align: middle;
}

ul {
	padding-left: 2em;
}

li {
	margin-bottom: 2px;
}

a {
	color: #FDF2D7;
}

a.image {
	text-decoration: none;
}

img#logoimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img#logoimage.fullwidth {
	width: 100%;
}

/* Settings for main page */
#startseite a {
	text-decoration: none;
}

#startseite h1.startitem {
	display: block;
	height: 0px;
	width: 0px;
	line-height: 0px;
	vertical-align: middle;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #00A000;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: absolute;
	font-size: 0px;
}

#startseite #text.small h1 {
	font-size: 0px;
}

#startseite #text.smaller h1 {
	font-size: 0px;
}

#musik audio {
	display: block;
}

#musik div.audiolabel {
	display: block;
}


#text {
	padding-top: 18px;
	padding-left: 18px;
	padding-right: 18px;
}

#text p, #text ul {
	text-align: justify;
	padding-bottom: 12px;
	padding-top: 0px;
	margin-bottom: 8px;
	margin-top: 2px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	font-size: 16px;
}

#text h1 {
	margin-bottom: 26px;
	padding-top: 0px;
	margin-top: 18px;
}

#text hr {
	margin-top: 18px;
	margin-left: 36px;
	margin-right: 36px;
	margin-bottom: 24px;
}

#text img {
	vertical-align: middle;
	padding-right: 20px;
	padding-bottom: 20px;
}

#text.small p, #text.small td {
	font-size: 14px;
}

#text.smaller p, #text.smaller td {
	font-size: 12px;
}

#text.small {
	padding-top: 14px;
	padding-left: 22px;
	padding-right: 22px;
}

#text.smaller {
	padding-top: 10px;
	padding-left: 14px;
	padding-right: 14px;
}

#text.small h1 {
	font-size: 26px;
	margin-top: 12px;
}

#text.smaller h1 {
	font-size: 22px;
	margin-top: 6px;
}

span.error {
	color: #FF0000;
}

/* Settings for contact page */
#kontakt form {
	width: 370px; /* Breite des Formulars */
	padding: 20px;
	border: 1px solid #FDF2D7;
}

#kontakt label { /* Beschriftung auf eigener Zeile */
	display: block;
	cursor: pointer; /* Mauszeiger wird zur Hand */
}

#kontakt input.inputtext, #kontakt textarea {
	width: 350px;
	border: 1px solid #FDF2D7;
	margin-bottom: 1em;
	background-color: rgba(255, 255, 255, 0.75);
}

#kontakt textarea {
	height: 7em;
	resize: vertical;
}

#kontakt input.inputtext:focus, #kontakt textarea:focus {
	background-color: white;
}

#kontakt #text.smaller form {
	width: 280px;
}

#kontakt #text.smaller input.inputtext, #kontakt #text.smaller textarea {
	width: 260px;
}

/* Settings for menu */
#menuleftbody {
	overflow: hidden;
}

#menuleft {
	position: absolute;
	top: 15px;
	left: 10%;
	overflow: hidden;
}

#menuleft.smallwidth {
	left: 5px;
}

#menuleft hr {
	height: 20px;
	margin: 0px;
	visibility: hidden;
}

#menuleft.smallheight hr {
	height: 4px;
}

#menuleft a {
	display: block;
	background-color: rgba(255, 255, 255, 0);
	margin-bottom: 5px;
	padding-left: 30px;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	height: 29px;
	width: 50px;
	border-radius: 8px;
	margin-bottom: 8px;
}

#menuleft.smallheight a {
	margin-bottom: 0px;
}

#menuleft a.smalltext {
	font-size: 15px;
	height: 25px;
}

#menuleft a.chosen, #menuleft a.chosen.highlight {
	background: rgba(255, 255, 255, 0.5);
}

#menuleft.ie8 a.chosen, #menuleft.ie8 a.chosen.highlight {
	background-color: #FBEDED;
}

#menuleft a.highlight {
	background: rgba(255, 255, 255, 0.25);
}

#menuleft.ie8 a.highlight {
	background-color: #F8E0E1;
}

#menuleft a span {
	position: absolute;
	top: 2px;
	left: 12px;
}

#menuleft.smallwidth a span {
	left: 5px;
}

/* Settings for dropdown menu */
#menudropdown div#menuitems a {
	width: 150px;
	display: block;
	text-align: center;
	background-color: #D50B00;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	font-size: 16px;
	border: 1px solid #FDF2D7;
	color: #FDF2D7;
}

#menudropdown img.icon {
	width: 24px;
	height: 24px;
}

/* Settings for toplogo */
#toplogo hr {
	color: #FDF2D7;
	background-color: #FDF2D7;
	border: 0;
	height: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Settings for botton */
#bottom hr {
	color: #FDF2D7;
	background-color: #FDF2D7;
	border: 0;
	height: 1px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#bottom table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 100%;
}

#bottom tr.address {
	color: #FDF2D7;
}

#bottom div#address {
	text-align: justify;
}

#bottom div#address div {
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
}

#bottom.small div#address div {
	padding: 5px 5px 5px 5px;
}

#bottom.smaller div#address div {
	padding: 5px 0px 5px 0px;
}

#bottom div#address:after {
	content: '';
	width: 100%;
	display: inline-block;
}

#bottom a {
	color: #FDF2D7;
}

#bottom.small {
	font-size: 13px;
}

#bottom.smaller {
	font-size: 10px;
}

/* Settings for Impressum */
#impressum {
	background-color: #FFFFFF;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
}

#impressum p, #impressum a {
	color: #000000;
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#impressum h3 {
	font-size: 16px;
	margin-bottom: 4px;
	margin-top: 12px;
}

#impressum h4 {
	font-size: 14px;
	margin-bottom: 2px;
	margin-top: 6px;
}

#impressumheader h2 {
	font-size: 24px;
	margin-top: 0px;
}

a.closeImpressum {
	font-size: 16px;
	font-weight: bold;
	border: 1px solid black;
	background-color: #C0C0C0;
	padding: 2px;
}