@charset "UTF-8";

@import url(OpenSans.css);
/* basic layout */
#toplogoframe {
	position: fixed;
	top: 0;
	left: 0;
	height: 200px;
	width: 100%;
	margin: 0;
	border: 0;
	z-index: 10;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #FDF2D7;
}

#bottomframe {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	border: 0px;
	overflow: hidden;
	z-index: 10;
	border-top: 1px solid #FDF2D7;
	box-sizing: border-box;
	height: 30px;
	left: 0;
	display: none;
}

#menuleftframe {
	position: fixed;
	top: 200px;
	bottom: 0px;
	left: 5px;
	margin-top: 15px;
	width: 21%;
	height: 68%;
	border: 0px;
	overflow: hidden;
	z-index: 3;
	box-sizing: border-box;
	width: 21%;
	top: 200px;
}

#menudropdownframe {
	position: fixed;
	left: 0;
	width: 350px;
	height: 79%;
	border: 0px;
	overflow: hidden;
	z-index: 30;
	box-sizing: border-box;
	display: none;
}

#mainframe {
	position: fixed;
	top: 200px;
	bottom: 0px;
	right: 0px;
	left: 21%;
	border: 0px;
	z-index: 5;
	border: 0px;
	padding-top: 10px;
	padding-left: 14px;
	padding-right: 14px;
	box-sizing: border-box;
	overflow: auto;
}

#popupframe {
	position: fixed;
	visibility: hidden;
	background-color: #FFFFFF;
	z-index: 0;
	background-color: #FFFFFF;
	border: none;
	box-sizing: border-box;
}

/* General settings */
body, p, h1 {
	font-family: 'Open Sans', sans-serif;
	color: #FDF2D7;
	margin: 0;
	background-color: transparent;
}

body {
	background-color: #5F0000;
}

table, table tr, table td {
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

table.bordered td {
	border-bottom: 1px solid #FDF2D7;
	border-top: 1px solid #FDF2D7;
	padding: 5px;
	vertical-align: middle;
}

ul {
	padding-left: 2em;
}

li {
	margin-bottom: 2px;
}

a {
	color: #FDF2D7;
}

a.image {
	text-decoration: none;
}

/* Settings for main page */
body.startseite #menuleftframe {
	display: none;
}

#mainframe.startseite {
	left: 0;
	width: 100%;
	padding: 0;
}

#mainframe.startseite a {
	text-decoration: none;
}

#mainframe.startseite h1.startitem {
	display: block;
	height: 0px;
	width: 0px;
	line-height: 0px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #00A000;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: absolute;
	font-size: 0px;
}

/* Settings for music page */
#mainframe.musik audio {
	display: block;
	width: 100%;
}

#mainframe.musik table {
	width: 100%;
	table-layout: fixed;
}

#mainframe.musik td.audiolabel1 {
	display: none;
}

#mainframe.musik div.audiolabel2 {
	display: block;
}

#mainframe.musik img.centered {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: contain;
	z-index: -1;
}

#mainframe p {
	text-align: justify;
	padding-bottom: 12px;
	padding-top: 0px;
	margin-bottom: 8px;
	margin-top: 2px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

#mainframe p, #mainframe td {
	font-size: 14px;
}

#mainframe h1 {
	margin-bottom: 26px;
	padding-top: 0px;
	font-size: 22px;
	margin-top: 6px;
}

#mainframe img {
	vertical-align: middle;
	padding-right: 20px;
	padding-bottom: 20px;
	max-width: 100%;
	box-sizing: border-box;
}

span.error {
	color: #FF0000;
}

/* Settings for contact page */
#mainframe.kontakt form {
	right: 0;
	padding: 20px;
	border: 1px solid #FDF2D7;
	padding: 20px;
}

#mainframe.kontakt label { /* Beschriftung auf eigener Zeile */
	display: block;
	cursor: pointer; /* Mauszeiger wird zur Hand */
}

#mainframe.kontakt input.inputtext, #mainframe.kontakt textarea {
	width: 100%;
	border: 1px solid #FDF2D7;
	margin-bottom: 1em;
	background-color: rgba(255, 255, 255, 0.75);
}

#mainframe.kontakt textarea {
	height: 7em;
	resize: vertical;
}

#mainframe.kontakt input.inputtext:focus, #kontakt textarea:focus {
	background-color: white;
}

/* Settings for menu */
#menuleftframe hr {
	height: 20px;
	margin: 0px;
	visibility: hidden;
}

#menuleftframe a {
	display: block;
	background-color: rgba(255, 255, 255, 0);
	margin-bottom: 5px;
	padding-left: 30px;
	text-decoration: none;
	font-size: 14px;
	position: relative;
	height: 29px;
	width: 500px;
	border-radius: 8px;
	margin-bottom: 8px;
}

#menuleftframe a.chosen, #menuleftframe a.chosen:hover {
	background: rgba(255, 255, 255, 0.5);
}

#menuleftframe a:hover {
	background: rgba(255, 255, 255, 0.25);
}

#menuleftframe a span {
	position: absolute;
	top: 2px;
	left: 5px;
}

/* Settings for dropdown menu */
#menudropdownframe div#menuitems a {
	width: 150px;
	display: block;
	text-align: center;
	background-color: #D50B00;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	font-size: 16px;
	border: 1px solid #FDF2D7;
	color: #FDF2D7;
}

#menudropdownframe img.icon {
	width: 24px;
	height: 24px;
}

/* Settings for toplogo */
#toplogoframe {
	background-repeat: no-repeat;
	background-position: center;
}

#toplogoframe #logoimage {
	display: block;
	width: 100%;
	height: auto;
}

/* Settings for botton */
#bottomframe table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 100%;
}

#bottomframe tr.address {
	color: #FDF2D7;
}

#bottomframe div#address {
	text-align: justify;
}

#bottomframe div#address div {
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding: 5px 0px 5px 0px;
	white-space: nowrap;
}

#bottomframe div#address:after {
	content: '';
	width: 100%;
	display: inline-block;
}

#bottomframe a {
	color: #FDF2D7;
}

#bottomframe {
	font-size: 10px;
}

/* Settings for Impressum */
#popupframe {
	background-color: #FFFFFF;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	overflow: auto;
}

#popupframe p, #popupframe a {
	color: #000000;
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#popupframe h3 {
	font-size: 16px;
	margin-bottom: 4px;
	margin-top: 12px;
}

#popupframe h4 {
	font-size: 14px;
	margin-bottom: 2px;
	margin-top: 6px;
}

#popupframe h2 {
	font-size: 24px;
	margin-top: 0px;
}

a.closeImpressum {
	font-size: 16px;
	font-weight: bold;
	border: 1px solid black;
	background-color: #C0C0C0;
	padding: 2px;
}

@media screen and (min-width:620px) {
	#mainframe {
		padding-top: 14px;
		padding-left: 22px;
		padding-right: 22px;
		bottom: 30px;
	}
	#mainframe h1 {
		font-size: 26px;
		margin-top: 12px;
	}
	#mainframe p, #mainframe td {
		font-size: 15px;
	}
	#menuleftframe a {
		font-size: 16px;
	}
	#menuleftframe {
		bottom: 30px;
		width: 21%;
	}
	#bottomframe div#address div {
		padding: 5px 5px 5px 5px;
	}
	#bottomframe {
		font-size: 13px;
		display: block;
		height: 30px;
	}
	#menuleftframe a#menubutton {
		display: none;
	}
}

@media screen and (min-width: 850px) {
	#mainframe {
		padding-top: 18px;
		padding-left: 18px;
		padding-right: 18px;
		bottom: 40px;
	}
	#mainframe h1 {
		font-size: 32px;
		margin-top: 18px;
	}
	#mainframe p, #mainframe td {
		font-size: 16px;
	}
	#menuleftframe a {
		font-size: 18px;
	}
	#bottomframe div#address div {
		padding: 10px 10px 10px 10px;
	}
	#bottomframe {
		font-size: 16px;
		height: 40px;
	}
	#menuleftframe a span {
		left: 12px;
	}
	#menuleftframe {
		left: 2%;
		width: 19%;
		bottom: 40px;
	}
	#mainframe.musik td.audiolabel1 {
		display: table-cell;
	}
	#mainframe.musik div.audiolabel2 {
		display: none;
	}
	#mainframe.musik .audiotable {
		width: 100%;
	}
	#mainframe.musik .audiowithlabel {
		width: 70%;
	}
	#mainframe.musik audio {
		width: 100%;
	}
}

@media screen and (min-width: 950px) {
	#toplogoframe #logoimage {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height: auto;
		width: auto;
	}
}