<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Miniris" enabled="true">
                    <match url="miniris(/.*)" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}?app=miniris" appendQueryString="false" />
                </rule>
                <rule name="MinirisBase" enabled="true">
                    <match url="^miniris$" />
                    <action type="Redirect" url="miniris/" />
                </rule>            
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
