<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Android" enabled="true">
                    <match url="^(..)/([^/]+)-android$" ignoreCase="false" />
                    <action type="Rewrite" url="/?lang={R:1}&amp;page={R:2}&amp;createHtmlString=true" appendQueryString="false" />
                </rule>
                <rule name="MinirisBase" enabled="true">
                    <match url="^miniris/?$" />
                    <action type="Rewrite" url="/?app=miniris" />
                </rule>            
                <rule name="MinirisAttr" enabled="true">
                    <match url="^miniris/\?(.*)$" />
                    <action type="Rewrite" url="/?app=miniris&amp;{R:1}" />
                </rule>            
                <rule name="MinirisPage" enabled="true">
                    <match url="^miniris/(..)/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="/?app=miniris&amp;lang={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="MinirisLanguage" enabled="true">
                    <match url="^miniris/(..)/$" ignoreCase="false" />
                    <action type="Rewrite" url="/?app=miniris&amp;lang={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Page" enabled="true">
                    <match url="^(..)/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="/?lang={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Language" enabled="true">
                    <match url="^(..)/$" ignoreCase="false" />
                    <action type="Rewrite" url="/?lang={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
