@import url(mainfont.css);

@import url(http://fonts.googleapis.com/css?family=Quicksand);

body {
	background-color: #F1F4D9;
	margin: 0;
}

hr {
	color: #E30FB5;
	background-color: #E30FB5;
	border: 0;
	height: 3;
	margin-top: 8;
	margin-bottom: 8;
}

body.small hr {
	height: 2;
	margin-top: 3;
	margin-bottom: 3;
}

table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 100%;
}

tr {
	margin: 0;
	padding: 0;
}

tr.address {
	background-color: #F0DED6;
	font-size: 140%;
	font-family: 'Quicksand', sans-serif;
}

body.small tr.address {
	font-size: 100%;
}

div#address {
	text-align: justify;
}

div#address div {
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
}

body.small div#address div {
	padding: 3px 5px 3px 5px;
}

div#address:after {
	content: '';
	width: 100%;
	display: inline-block;
}

a {
	color: #000000;
}