@import url(mainfont.css);

#text.small p, #text.small li, #text.small a, #text.small table {
	font-size: 12px;
}

table {
	border: 0;
	width: 100%;
}

#pict {
	padding-top: 90px;
	padding-left: 25px;
	padding-right: 5px;
	padding-bottom: 0;
	vertical-align: top;
}

#pict.pictsub {
	padding-top: 30px;
}

#text {
	padding: 0px;
	width: 66%;
	vertical-align: top;
}

#text.fullwidth {
	width: 100%;
}

td#text.small, td#pict.small {
	padding-right: 5px;
}

td#pict.small {
	padding-left: 0px;
}

html, body, textarea {
	background-color: #FFFFFF;
	scrollbar-base-color: #FFCcff;
	scrollbar-face-color: #FFFFFF;
	scrollbar-track-color: #ffffFF;
	scrollbar-shadow-color: #ffccFF;
	scrollbar-dark-shadow-color: #ffccff;
	scrollbar-arrow-color: #FFFF99;
	scrollbar-3d-light-color: #99cc66;
	scrollbar-highlight-color: #ffffcc
}

h2 {
	font-size: 16px;
	font-weight: bold;
	color: #BE0696;
	margin-bottom: 2em;
	margin-top: 18px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 6px;
}

h4 {
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 2px;
}

em {
	font-weight: bold;
	font-style: normal;
}

p {
	margin-bottom: 10px;
	margin-top: 2px;
}

ul {
	padding-left: 2em;
}

li {
	margin-bottom: 2px;
}

a {
	color: #BE0696;
}

.indent {
	padding-left: 1em
}

#allcontent a.closeImpressum {
	visibility: hidden;
}

#allcontent hr.newpage {
	page-break-before: always;
	height: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#allcontent .maintext img {
	max-width: 70%;
}

#allcontent .maintext img.astroimg {
	max-width: 63%;
}

#allcontent .maintext img.spirimg {
	max-width: 78%;
}

#allcontent h2 {
	margin-bottom: 1em;
}

/* Settings for allcontent page */
@page {
	margin: 15mm 10mm 20mm 10mm;
}

/* Settings for small media */
@media ( max-width : 800px) {
	h1 {
		font-size: 24px;
	}
	body, p {
		font-size: 14px;
	}
	#text p.footer {
		font-size: 12px;
	}
}