@import url(mainfont.css);

body {
	background: #DEE0D4;
}

.menuleft {
	position: absolute;
	top: 15px;
	left: 5px;
}

.menuleft hr {
	height: 36px;
	margin: 0px;
	visibility: hidden;
}

.menuleft a {
	display: block;
	background: #DEE0D4;
	margin-bottom: 5px;
	padding-left: 30px;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	height: 25px;
	width: 50px;
	color: #66695C;
	border-radius: 8px;
}

.menuleft a.chosen {
	background: #fff;
}

.menuleft a span {
	position: absolute;
	top: 2px;
	left: 5px; //
	transition: all .3s ease;
}

.menuleft a span.highlight {
	color: #E30FB5;
}

.menuleft a.chosen span.highlight {
	color: #66695C;
}

.menuleft a span.blur {
	opacity: .9;
}