@import url(http://fonts.googleapis.com/css?family=Lato);

* {
	font-family: 'Lato', sans-serif;
}

body, p, li, a, table {
	font-size: 16px;
}

/* Text colors */
body, p, li, a, table {
	color: #055326;
}

h2, a, #bottom tr.address {
	color: #0B6F63;
}

#menuleft a, #menutop a, #menudropdown li a, #bottom a {
	color: #085B51;
}

#impressum p, #impressum a.closeImpressum, #allcontent p {
	color: #000000;
}

a {
	text-decoration: none;
	box-shadow: inset 0 0px 0 black, inset 0 -1px 0 rgba(5, 83, 38, 0.3)
}

body#index {
	background-image: url("../img/blatt_a.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0px;
}

body {
	margin: 10px;
	padding: 0px;
}

#text.small p, #text.small li, #text.small a, #text.small table, #pict.small a {
	font-size: 14px;
}

table {
	border: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

#pict {
	padding-top: 85px;
	padding-left: 25px;
	padding-right: 5px;
	padding-bottom: 5px;;
	vertical-align: top;
}

.pictimgfloat {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

#text {
	padding: 0px;
	width: 66%;
	vertical-align: top;
}

#startseite.desktop #text h3+p {
	margin-left: 1em;
}

#text.fullwidth {
	width: 100%;
}

td#text.small, td#pict.small {
	padding-right: 5px;
}

td#pict.small {
	padding-left: 0px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 2em;
	margin-top: 18px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 6px;
}

h4 {
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 2px;
}

em {
	font-weight: bold;
	font-style: normal;
}

p {
	margin-bottom: 10px;
	margin-top: 2px;
}

ul {
	padding-left: 2em;
	margin-top: 0px;
}

li {
	margin-bottom: 2px;
}

.indent {
	padding-left: 1em
}

.nomargin {
	margin: 0px;
}

/* Settings for left menu */
body#menuleft {
	overflow: hidden;
}

#menuleft {
	position: absolute;
	top: 15px;
	left: 10%;
}

#menuleft.smallwidth {
	left: 5px;
}

#menuleft hr {
	height: 36px;
	margin: 0px;
	visibility: hidden;
}

#menuleft.smallheight hr {
	height: 4px;
}

#menuleft a {
	display: block;
	background: rgba(255, 255, 255, 0);
	margin-bottom: 5px;
	padding-left: 30px;
	text-decoration: none;
	box-shadow: none;
	font-size: 18px;
	position: relative;
	height: 29px;
	width: 50px;
	border-radius: 8px;
}

#menuleft.smallheight a {
	margin-bottom: 0px;
}

#menuleft a.smalltext {
	font-size: 14px;
	height: 25px;
}

#menuleft a.smallesttext {
	font-size: 12px;
	height: 20px;
}

#menuleft a.chosen, #menuleft a.chosen.highlight {
	background: rgba(255, 255, 255, 0.5);
}

#menuleft a span {
	position: absolute;
	top: 2px;
	left: 12px;
}

#menuleft.smallwidth a span {
	left: 5px;
}

#menuleft a.highlight {
	background: rgba(255, 255, 255, 0.25);
}

#menuleft a span.blur {
	opacity: .9;
}

/* Settings for top menu */
body#menutop {
	margin-left: 15px;
	vertical-align: middle;
	overflow: hidden;
}

#menutop.smalltext {
	margin-left: 5px;
}

#menutop a {
	display: inline-block;
	background: rgba(255, 255, 255, 0);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	margin-right: 20px;
	text-decoration: none;
	box-shadow: none;
	font-size: 17px;
	position: relative;
	height: 22px;
	border-radius: 8px;
}

#menutop.tworow a {
	padding-top: 0px;
}

#menutop.midtext a {
	margin-right: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

#menutop.smalltext a {
	margin-right: 5px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 13px;
	height: 18px;
}

#menutop a.chosen {
	background: rgba(255, 255, 255, 0.5);
}

#menutop a span { //
	transition: all .3s ease;
}

#menutop a.highlight {
	background: rgba(255, 255, 255, 0.25);
}

#menutop a.chosen.highlight {
	background: rgba(255, 255, 255, 0.5);
}

#menutop a span.blur {
	opacity: .9;
}

#menutop div.part {
	white-space: nowrap;
	display: inline;
}

#menutop.tworow div.part {
	display: block;
}

/* Settings for dropdown menu */
#menudropdown {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#menudropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menudropdown li {
	float: left;
	padding: 0;
	margin: 0;
}

#menudropdown li a {
	width: 200px;
	display: block;
	text-align: center;
	background-color: #8DA931;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	box-shadow: none;
	font-size: 16px;
	border: 1px solid #ccc;
}

#menudropdown.smallheight li a {
	height: 20px;
	line-height: 20px;
	font-size: 14px;
}

#menudropdown li.sublink a {
	background-color: #A9BB6F;
	height: 25px;
	line-height: 25px;
	width: 220px;
}

#menudropdown.smallheight li.sublink a {
	height: 18px;
	line-height: 18px;
}

#menudropdown img.icon {
	width: 24px;
	height: 24px;
	padding-top: 10px;
	padding-right: 30px;
	overflow: hidden;
}

#endmenu a {
	font-size: 14px;
}

#endmenu li.sublink {
	margin-left: 20px;
}

/* Settings for top logo */
body#toplogo {
	background-color: #F1F4D9;
	margin: 0px;
	padding: 0px;
}

#toplogo img {
	width: 90%;
	margin-left: 5%;
	margin-top: 2%;
}

/* Settings for bottom of page */
body#bottom {
	margin: 0;
}

#bottom hr {
	border: 0;
	height: 3;
	margin-top: 8;
	margin-bottom: 8;
}

#bottom table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 100%;
}

#bottom tr {
	margin: 0;
	padding: 0;
}

#bottom tr.address {
	background: rgba(255, 255, 255, 0.5);
	font-size: 140%;
}

#bottom div#address {
	text-align: justify;
	padding: 0px;
	margin: 0px;
	height: 36px;
}

#bottom div#address div {
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
}

#bottom div#address:after {
	content: '';
	width: 100%;
	display: inline-block;
}

/* Setting for impressum */
body#impressum {
	background: #fffff;
}

#impressumheader h2 {
	font-size: 24px;
	margin-top: 0px;
}

#impressumtable {
	text-align: left;
	border: 1px solid black;
}

#impressumtable td {
	font-size: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border: 1px solid black;
}

#impressumtable p, #impressumtable p, #impressumtable li, #impressumtable a, #impressumtable h4 {
	font-size: 10px;
	margin-top: 0pt;
}

#impressumtable p.entryend {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

a.closeImpressum {
	font-size: 16px;
	font-weight: bold;
	border: 1px solid black;
	background-color: #C0C0C0;
	padding: 2px;
}

/* Settings for allcontent page */
#allcontent a.closeImpressum {
	visibility: hidden;
}

#allcontent hr.newpage {
	page-break-before: always;
	height: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#allcontent #pict img {
	max-width: 100%;
}

#allcontent h2 {
	margin-bottom: 1em;
}

@page {
	margin: 15mm 10mm 20mm 10mm;
}

/* Settings for small media */
@media ( max-width : 800px) {
	h1 {
		font-size: 24px;
	}
	body, p, a, li {
		font-size: 14px;
	}
	#text p.footer {
		font-size: 12px;
	}
}